* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 241, 221);
}

header {
    display: flex;
    background-image: linear-gradient(to right, rgb(0, 0, 70), rgb(0, 0, 180), rgb(0, 0, 70));
    justify-content: space-between;
    width: 100%;
}

h1 {
    display: flex;
    align-items: center;
    margin: 5px;
}

#header-left {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 15%;
}

#weather-icons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#sun-header {
    color: yellow;
}

#cloud-header {
    color: lightgray;
}

#rain-header {
    color: blue;
}

#wind-header {
    color: whitesmoke;
}

#header-right {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

#heading {
    padding-right: 10vh;
    color: white;
}

main {
    display: flex;
    width: 95vw;
    justify-content: center;
    min-height: 80vh;
}

aside {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#search-form {
    border-bottom: solid 3px grey;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0px 10px;
}

input {
    margin: 10px;
}

button {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

#search-btn {
    background-color:cornflowerblue;
}

#recent-searches {
    display: flex;
    flex-direction: column;
}

.recent-btn {
    background-color:rgb(164, 226, 246)
}

.weather-info {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.hidden {
    display: none;
}

#city-info {
    border: 2px solid black;
    margin: 10px;
    background-color: rgb(37, 45, 60);
    color: white
}

.current-city-weather {
    margin: 0px 10px;
    font-weight: bold;
}

#five-day-header {
    border-bottom: 2px solid black;
}

#five-day-forecast {
    display: flex;
}

.forecast-style {
    margin: 0px 10px;
}

.daily-forecast {
    border: 2px solid black;
    margin: 10px;
    width: 20%;
    background-color: rgb(70, 85, 113);
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .width40 {
    width: 40%;
 }

 @media screen and (max-width: 1172px) {
    h2 {
        font-size: 1.2em;
    }

    button {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: .8em;
    }
 }
 
 @media screen and (max-width: 996px) {
    aside {
        width: 33%;
    }

    .weather-info {
        width: 66%;
    }

    #five-day-forecast {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h2 {
        font-size: 1.4em;
    }

    button {
        font-size: 1em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.2em;
    }

    .daily-forecast {
        width: 45%;
    }

    .current-city-weather {
        font-size: 1.3em;
    }
 }

 @media screen and (max-width: 787px) {
    #header-left {
        display: none;
    }

    #header-right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: max-content;
    }

    header {
        justify-content: center;
    }

    #heading {
        padding-right: 0px;
        text-align: center;
        font-size: 1.6em;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: auto;
    }

    aside {
        width: 100%;
    }

    .width40 {
        width: 100%;
    }

    .weather-info {
        width: 100%;
    }

    #recent-searches {
        display: none;
    }

    @media screen and (max-width: 510px) {
        .daily-forecast {
            width: 100%;
        }
    }
 }